/* Styling for introduction 
 * Code from: https://www.sliderrevolution.com/resources/css-text-animation/
 */
@import url(https://fonts.googleapis.com/css?family=Khula:700);
.hidden {
  opacity:0;
}
.console-container {
  font-family:Khula;
  font-size:60px;
  text-align:center;
  height:200px;
  width:1000px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

/* My own code: */

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(29, 27, 27);
    color:rgba(211, 211, 211, 0.6);
    display: flex;
    flex-direction: column;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.navbar-listitems {
    float: right;
}
.navbar-listitems a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
.navbar-listitems a:hover {
    background-color: #111;
}

#top-header {
    text-align: center;
    font-size: 60px;
    padding: 300px;
}

.about-me {
    display: flex;
    margin: 2%;
    padding: 2%;
    background-color: rgba(255, 99, 71, 0.6);
    border-radius: 20px;
    justify-content: space-evenly;
}

.about-me img {
    margin-left: 5%;
    margin-right: 5%;
}
.about-me p {
    font-size: 22px;
}
.about-me li {
    font-size: 22px;
}

.experience {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2%;
    padding: 2%;
    background-color: rgba(255, 99, 71, 0.6);
    border-radius: 20px;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2%;
    padding: 2%;
    background-color: rgba(255, 99, 71, 0.6);
    border-radius: 20px;
}

.links {
    color: white;
    display: flex;
    justify-content: space-evenly;
    margin: 2%;
    padding: 2%;
    background-color: rgb(97, 98, 99);
    border-radius: 10px;
}

#email-link {
    color: white;
}